USE [master]
GO
/****** Object:  Database [QLChuyenDe]    Script Date: 4/12/2018 2:28:29 PM ******/
CREATE DATABASE [QLChuyenDe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLChuyenDe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLChuyenDe.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLChuyenDe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLChuyenDe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLChuyenDe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLChuyenDe]
GO
/****** Object:  Table [dbo].[CHUYENDE]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENDE](
	[MaChuyenDe] [nchar](10) NOT NULL,
	[TenChuyenDe] [nvarchar](50) NULL,
	[SLSV] [int] NULL,
	[MaNganh] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuyenDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MaNganh] [nchar](10) NOT NULL,
	[TenNganh] [nvarchar](50) NULL,
	[SLChuyenDe] [int] NULL,
	[SLSinhVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKI]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKI](
	[MaDangKi] [nchar](10) NOT NULL,
	[IDMo] [nchar](10) NULL,
	[MaSinhVien] [nchar](10) NULL,
 CONSTRAINT [PK_DANGKI] PRIMARY KEY CLUSTERED 
(
	[MaDangKi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocChuyenNganh]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocChuyenNganh](
	[MaHocCN] [nchar](10) NOT NULL,
	[MaSinhVien] [nchar](10) NULL,
	[MaNganh] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKI]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKI](
	[TenHocKi] [nvarchar](50) NOT NULL,
	[NamHoc] [int] NOT NULL,
 CONSTRAINT [PK_HOCKI] PRIMARY KEY CLUSTERED 
(
	[TenHocKi] ASC,
	[NamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MO]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MO](
	[IDMo] [nchar](10) NOT NULL,
	[TenHocKi] [nvarchar](50) NULL,
	[MaChuyenDe] [nchar](10) NULL,
	[NamHoc] [int] NULL,
 CONSTRAINT [PK__MO__B87DD14A7C98D08B] PRIMARY KEY CLUSTERED 
(
	[IDMo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/12/2018 2:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSinhVien] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Phai] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](250) NULL,
	[MaNganh] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENDE_CHUYENNGANH] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[CHUYENNGANH] ([MaNganh])
GO
ALTER TABLE [dbo].[CHUYENDE] CHECK CONSTRAINT [FK_CHUYENDE_CHUYENNGANH]
GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD  CONSTRAINT [FK_DANGKI_MO] FOREIGN KEY([IDMo])
REFERENCES [dbo].[MO] ([IDMo])
GO
ALTER TABLE [dbo].[DANGKI] CHECK CONSTRAINT [FK_DANGKI_MO]
GO
ALTER TABLE [dbo].[DANGKI]  WITH CHECK ADD  CONSTRAINT [FK_DANGKI_SINHVIEN] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[DANGKI] CHECK CONSTRAINT [FK_DANGKI_SINHVIEN]
GO
ALTER TABLE [dbo].[HocChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_HocChuyenNganh_CHUYENNGANH] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[CHUYENNGANH] ([MaNganh])
GO
ALTER TABLE [dbo].[HocChuyenNganh] CHECK CONSTRAINT [FK_HocChuyenNganh_CHUYENNGANH]
GO
ALTER TABLE [dbo].[HocChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_HocChuyenNganh_SINHVIEN] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[HocChuyenNganh] CHECK CONSTRAINT [FK_HocChuyenNganh_SINHVIEN]
GO
ALTER TABLE [dbo].[MO]  WITH CHECK ADD  CONSTRAINT [FK_MO_CHUYENDE] FOREIGN KEY([MaChuyenDe])
REFERENCES [dbo].[CHUYENDE] ([MaChuyenDe])
GO
ALTER TABLE [dbo].[MO] CHECK CONSTRAINT [FK_MO_CHUYENDE]
GO
ALTER TABLE [dbo].[MO]  WITH CHECK ADD  CONSTRAINT [FK_MO_HOCKI] FOREIGN KEY([TenHocKi], [NamHoc])
REFERENCES [dbo].[HOCKI] ([TenHocKi], [NamHoc])
GO
ALTER TABLE [dbo].[MO] CHECK CONSTRAINT [FK_MO_HOCKI]
GO
USE [master]
GO
